# Ignore Python virtual environment
venv/
env/

# Ignore sensitive credentials
.env

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore PNGs and STL file CAD
# *.png 
*.stl 
*.scad

# Extra
Tests/
cr.sh
experiment_template.md


dogBoneSpecimen/